@import 'franklin-sites/src/styles/colours';
@import 'franklin-sites/src/styles/settings';

.wider {
  grid-template-columns: 3rem calc(1.33 * var(--sidebar-size) - 3rem) minmax(
      min-content,
      1fr
    );
}
.sidebar {
  background: none;
  hr {
    border: none;
    height: 0.125rem;
    background-color: $colour-platinum;
    margin-bottom: 0.25rem;
  }
  .section-path {
    margin-left: 1rem;
  }
}

.content {
  .operation-tag {
    &:not(:first-child) {
      margin-top: 3rem;
    }
    h1 {
      margin: 1rem 0;
    }
    p {
      margin-bottom: 0.5rem;
    }

    hr {
      border: none;
      height: 0.125rem;
      background-color: $colour-platinum;
      margin-bottom: 0.5rem;
    }
  }

  :global(.scheme-container) {
    display: none;
  }
}
