@import 'franklin-sites/src/styles/settings';

.private-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: 100%;
  min-block-size: 100px;
  padding: $global-padding;
  background: peachpuff;

  & > label {
    inline-size: 80vw;
    min-inline-size: 40ch;
  }

  & > * {
    max-inline-size: 100%;
  }

  & :global(.codeblock) {
    max-inline-size: 100%;
    max-block-size: 40vh;
    overflow: auto;
  }

  .checks {
    display: grid;
    grid-template-columns: max-content 1fr;
    border: 1px solid grey;
  }

  & dl {
    display: contents;
  }

  & dt,
  & dd {
    padding: 0.5em;
    border: 1px solid grey;
  }
}
