.external {
  &::after {
    // NOTE: cannot colour the svg when using url(...)
    content: url('../../../../../node_modules/franklin-sites/src/svg/external-link.svg');

    display: inline-block;
    width: 0.75em;
    height: 0.75em;
    margin-left: 0.75ch;
  }
}
