@import 'franklin-sites/src/styles/colours';
@import 'franklin-sites/src/styles/settings';

.in-panel {
  padding-block-start: $global-padding;
}

.beta-message {
  // right margin is to match the style of the card
  margin: 1rem 1rem 0 0;
}

.content *[id] {
  scroll-margin-top: calc(var(--top-header-margin) + #{$global-margin * 0.5});
}

.content,
.in-panel {
  table {
    border-spacing: 0;
    overflow: auto;
    display: block;
  }

  thead {
    color: $colour-sky-white;
    background: $colour-sea-blue;

    a {
      color: $colour-sky-white;
    }
  }

  tbody {
    border: 1px solid $colour-sea-blue;
  }

  th,
  td {
    padding: $global-padding * 0.25 $global-padding * 0.5;
    border: 1px solid $colour-sea-blue;
    border-collapse: collapse;
  }

  code {
    background: $colour-platinum;
  }

  p,
  pre {
    margin-block-end: $global-margin;
  }

  /* copied from Franklin's CodeBlock component styles */
  pre {
    display: inline-block;
    background: $colour-yankees-blue;
    color: $white;
    font-family: $code-font-family;
    font-weight: $code-font-weight;
    border: $code-border;
    padding: $code-padding;

    /* not copied from Franklin's CodeBlock component styles */
    max-width: 100%;

    & > code {
      background: initial;
    }
  }

  img {
    border: 0.5em solid $colour-gainsborough;
    border-bottom-width: 1em;
  }
}

.last-updated-help {
  text-align: center;
  margin: 1rem 0;
}

// Reuse the SVG from franklin for the injected HTML for the help article
.external {
  &::after {
    content: '';
    // Below, hack to get a SVG used as an image to be coloured the same as text
    background: currentColor;
    -webkit-mask-image: url('../../../../../node_modules/franklin-sites/src/svg/external-link.svg');
    mask-image: url('../../../../../node_modules/franklin-sites/src/svg/external-link.svg');

    display: inline-block;
    width: 0.75em;
    height: 0.75em;
    margin: 0 0.5ch;
  }
}
