@import 'franklin-sites/src/styles/colours';

.agr-link {
  margin-left: 0.5em;
  margin-top: 0.5em;
  z-index: 1000;
}

.agr-orthology-table {
  --table-header-vertical-align: bottom;

  // Columns 6 to 15 are the methods
  th:nth-child(n + 8):nth-child(-n + 17),
  td:nth-child(n + 8):nth-child(-n + 17) {
    padding: 0 5px;
    width: 1ch;
  }
  // Columns 6 to 15 are the methods
  td:nth-child(n + 8):nth-child(-n + 17) {
    font-family: monospace;
  }
  th:nth-child(7),
  td:nth-child(7) {
    padding-right: 0px;
    padding-left: 20px;
  }

  th:nth-child(8),
  td:nth-child(8) {
    padding-left: 0px;
  }

  .methods-label-container {
    position: relative;

    .methods-label {
      position: absolute;
      top: -100px;
      // left: 20px;
    }

    .method-match-count-label > span {
      white-space: nowrap;
      text-decoration: underline;
      transform: translate(5px, -25px) rotate(315deg);
      width: 7ch;
    }
  }

  .method-match-count-render {
    cursor: default;
  }

  .method-label {
    white-space: nowrap;
    height: 145px;
    width: 1ch;

    & > span {
      transform: translate(0px, 117px) rotate(315deg);
      width: 1ch;
    }
  }

  .method-render {
    font-size: 1.5rem;
    cursor: default;
    width: 1ch;
  }
}
