@import 'franklin-sites/src/styles/colours';

.agr-orthology-table {
  --table-header-vertical-align: bottom;

  .match-count-label {
    transform: translate(-50px, 100px) rotate(315deg) !important;
    text-decoration: underline;
  }

  .methods-label {
    white-space: nowrap;
    height: 145px;
    padding: 10px;
    left: -5px;
    position: relative;

    & > span > div {
      display: inline-block;
      transform: translate(-70px, 100px) rotate(315deg);
      width: 30px;
    }
  }

  .match-count {
    padding-left: 30px;
    font-size: 1em !important;
  }

  .methods-render {
    font-size: 30px;
    width: 30px;
    display: inline-block;
    text-align: center;
    cursor: default;
  }
}
