@import 'franklin-sites/src/styles/colours';

.agr-link {
  margin-left: 0.5em;
  margin-top: 0.5em;
  z-index: 1000;
}

.agr-orthology-table {
  --table-header-vertical-align: bottom;

  // Columns 6 to 15 are the methods
  th:nth-child(n + 7):nth-child(-n + 15),
  td:nth-child(n + 7):nth-child(-n + 15) {
    padding: 0 4px;
  }

  .match-count-label {
    transform: translate(-50px, 100px) rotate(315deg) !important;
    text-decoration: underline;
  }

  .methods-label {
    white-space: nowrap;
    height: 145px;
    padding: 10px;
    left: -5px;
    position: relative;
    width: 1ch;

    & > span {
      display: inline-block;
      transform: translate(-3px, 107px) rotate(315deg);
      width: 1ch;
    }
  }

  .match-count {
    padding-left: 30px;
    font-size: 1em !important;
  }

  .methods-render {
    font-size: 1.5rem;
    cursor: default;
  }
}
