.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .community-curation-button {
    margin: 0.5rem 0 0.2rem 0;
  }

  .separator {
    width: 70%;
  }
}

.content {
  background-color: #abc7d64d;
  margin-top: 0;

  .contributor-details {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & span {
      margin-right: 2rem;

      img {
        margin: 2px;
      }
    }
  }
}
