@import '../../../../shared/components/table/styles/table.module.scss';

.community-annotation-details {
  .chevron-icon {
    transform: scale(1);
  }

  &[open] {
    .chevron-icon {
      transform: scale(-1);
    }
  }
}

.header {
  display: flex;
  align-items: center;
  margin: 0.5rem 0 0.2rem 0;
  cursor: pointer;

  .community-button {
    margin-bottom: 0.2rem;
  }

  .separator {
    width: 100%;
  }
}

.content {
  margin: 0;
  padding: 0;
  background-color: transparent;

  .reference-card {
    background-color: #abc7d64d;

    table {
      padding: 0;
      margin: 1em 0;
      border-spacing: 0;

      & th {
        text-align: left;
        vertical-align: middle;
        color: $table__header-text;
        text-transform: uppercase;
      }

      & td,
      & th {
        padding: 0.2rem 3ch;
      }
    }
  }
}
