@import 'franklin-sites/src/styles/colours';

.go-cam-container {
  margin-bottom: 1.5rem;

  select.id-select {
    width: fit-content;
    display: block;
    margin-bottom: 0.5rem;
  }

  .ids-list {
    max-height: 15rem;

    .selected {
      font-weight: bold;
    }
  }
}
