@import 'franklin-sites/src/styles/colours';

.interaction-section interaction-viewer {
  max-width: 100%;
  overflow-x: scroll;

  position: relative;

  // optimise page by not rendering if not in viewport
  // content-visibility: auto;
  // contain-intrinsic-size: ??; // TODO: size is quite important and can vary

  & > *:not(svg) {
    position: sticky;
    left: 0;
  }
}

.visualisation-tabs {
  margin-bottom: 1rem;
}

.viewer-ids-container .ids-list {
  max-height: 15rem;
}
