@import 'franklin-sites/src/styles/colours';

.interaction-section interaction-viewer {
  max-width: 100%;
  overflow-x: scroll;

  position: relative;

  // optimise page by not rendering if not in viewport
  // content-visibility: auto;
  // contain-intrinsic-size: ??; // TODO: size is quite important and can vary

  & > *:not(svg) {
    position: sticky;
    left: 0;
  }
}

.viewer-ids-container {
  display: flex;

  & .id-list {
    width: 20%;
    overflow-y: scroll;
    height: 200px;
  }

  & .id-button {
    margin: 0.5rem;
  }

  & .highlight {
    background-color: $button-background;
    color: $button-color;
  }

  .resource-link {
    float: right;
  }
}
