// Specify the color here for now, eventually will be imported from Franklin
:root {
  --fr--color-purple-mid: #691eaa;
}

@mixin ai-background {
  background-color: color-mix(in srgb, var(--fr--color-purple-mid) 6%, white);
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.decorated-list-item:has(.ai-annotation) {
  @include ai-background;
}

.ai-annotation:not(.decorated-list-item .ai-annotation) {
  @include ai-background;
}
