@import 'franklin-sites/src/styles/colours';
@import 'franklin-sites/src/styles/mixins';

.container {
  & > hr {
    color: $colour-gainsborough;
    background-color: $colour-gainsborough;
    height: 1px;
    border: 0;
    margin: 1rem 0 2rem 0;
  }

  form {
    display: grid;
    column-gap: 1rem;

    grid-template-columns: [label-start] min-content [label-end input-start] 1fr [input-end] 1fr;

    grid-template-areas:
      'label-name    input-name    aside'
      'label-email   input-email   aside'
      'label-subject input-subject aside'
      'label-message .             aside'
      'input-message input-message input-message'
      'privacy       privacy       privacy'
      'submit        submit        .';

    @include fs-breakpoints('large') {
      grid-template-columns: [label-start] min-content [label-end input-start] 2fr [input-end] 1fr max-content;
      grid-template-areas:
        'label-name    input-name    illustration  aside'
        'label-email   input-email   illustration  aside'
        'label-subject input-subject illustration  aside'
        'label-message .             illustration  aside'
        'input-message input-message input-message input-message'
        'privacy       privacy       privacy       privacy'
        'submit        submit        .             .';
    }

    // Hide the honeypot from the view
    [name='requiredForRobots'] {
      position: absolute;
      top: -100%;
      left: -100%;
    }

    & button[type='submit'] {
      margin-top: 1em;
      grid-area: submit;
      justify-self: start;
    }

    & > aside {
      grid-area: aside;
    }
  }
}

.label {
  grid-column: label-start / label-end;
  font-weight: bold;
}

.input {
  grid-column: input-start / input-end;
  display: flex;
  gap: 1ch;
  align-items: baseline;

  &__message {
    grid-column: 1 / -1;
  }

  & > input,
  & > textarea {
    &:invalid + .validity > .invalid {
      opacity: 1;
    }

    &:valid + .validity > .valid {
      opacity: 1;
    }

    /* When empty */
    &:placeholder-shown,
    /* When focused */
    &:focus {
      & + .validity {
        opacity: 0;
      }
    }
  }
}

.validity {
  position: relative;
  width: 1em;
  height: 1em;

  .valid,
  .invalid {
    position: absolute;
    opacity: 0;
  }

  .valid {
    color: $colour-success;
  }

  .invalid {
    color: $colour-failure;
  }
}

.privacy {
  grid-column: 1 / -1;
  justify-self: start;
  font-weight: normal;
}

.illustration {
  display: none;

  @include fs-breakpoints('large') {
    display: initial;
    width: 75%;
    grid-area: illustration;
    justify-self: center;
    align-self: end;
  }
}
