# dependencies
/node_modules

# production
/build
/dist

# Test coverage
/coverage

# misc
.DS_Store
.vscode
__diff_output__

*.log

# Tests temp directory
/tests/.tmp/
report.*.json

# Yalc (yarn link alternative)
.yalc/
yalc.lock

# Local Netlify folder
.netlify
