.results-message {
  margin-bottom: -0.75rem;
  margin-top: 0.5rem;
}

.entry-message {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.no-right-margin svg {
  margin-right: 0;
}

ul.retained {
  margin-bottom: 0;
}
ul.retained {
  margin-bottom: 0;
}

.generic {
  margin-top: 1rem;
}

.homepage {
  margin-bottom: 2rem;
}

.help-landing-page {
  margin-bottom: -1.5rem;
  margin-top: 1rem;
}

.help-entry {
  margin-top: 1rem;
}

.help-results {
  margin-top: 1rem;
  margin-bottom: -4rem;
}

.swagger-docs {
  margin: 1rem;
}
