.column-select-drag-drop {
  &__list {
    background: var(--fr--color-platinum);
    padding: 0.5rem;
    overflow: auto;
    white-space: nowrap;
    margin: 1rem 0;

    .chip {
      --main-chip-color: #{var(--fr--color-sea-blue)};

      &:hover {
        --main-chip-color: #{var(--fr--color-vivid-cerulean)};
      }

      &--dragging {
        --main-chip-color: #{var(--fr--color-vivid-cerulean)};
      }
    }
  }
}
