@import '../../../../../node_modules/franklin-sites/src/styles/colours';

.column-select-drag-drop {
  &__list {
    background: $colour-platinum;
    display: flex;
    padding: 0.5rem;
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 1rem;

    .chip {
      --main-chip-color: #{$colour-sea-blue};

      &:hover {
        --main-chip-color: #{$colour-vivid-cerulean};
      }

      &--dragging {
        --main-chip-color: #{$colour-vivid-cerulean};
      }
    }
  }
}
