@import 'franklin-sites/src/styles/common/z-index';
@import '../../../styles/settings';

// Enough to have the EBI logo peek
$footer-peeking: 7em;

.base-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  header {
    height: $header-height;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: $z-index-high + 1;
    background: white;
  }

  .header:not(.header--negative) > .header__logo svg g {
    fill: white;
  }

  .main-content {
    flex: 1;
    min-height: calc(100vh - #{$header-height} - #{$footer-peeking});
  }

  .footer {
    width: 100%;
  }
}
