@import '../../../styles/settings';

.base-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  header {
    height: $header-height;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: $z-index-high + 1;
    background: white;
  }

  .header:not(.header--negative) > .header__logo svg g {
    fill: white;
  }

  .main-content {
    flex: 1;
  }

  .footer {
    width: 100%;
  }
}
