@import '../../../styles/settings';

$header-height: 70px;

.base-layout {
  border: 1px solid red;
  height: 100vh;

  .header:not(.header--negative) > .header__logo svg g {
    fill: white;
    height: $header-height;
  }

  .main-content-and-footer {
    width: 100%;
    overflow-y: scroll;
  }
}
