@import '../../../styles/settings';

$header-height: 70px;

.base-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .header:not(.header--negative) > .header__logo svg g {
    fill: white;
    height: $header-height;
  }

  .main-content {
    flex: 1;
  }
}
