@import 'franklin-sites/src/styles/colours';
@import 'franklin-sites/src/styles/mixins';

footer.footer {
  padding: 1rem;
  background: $colour-platinum;
  // Wait a bit on the first load to give a chance to the main content to load
  // and push the footer down before appearing
  animation: appear 0.25s 1 0.5s both;

  @include fs-breakpoints('medium') {
    // Make the whole footer texts be a portion of the default size of the rest
    font-size: 0.8rem;
  }

  :global(.hero-container) {
    margin-block: 0;
    padding-block: 0;
  }

  p {
    margin-bottom: 1em;
  }

  img {
    margin-inline: auto;
  }

  // Consortium
  .consortium {
    &__uniprot {
      width: 100%;

      & > img {
        max-height: 70px;
        margin-bottom: 1rem;
      }
    }

    &__members {
      @include fs-breakpoints('medium') {
        display: flex;
      }
      align-items: center;

      :not(:last-child) {
        margin-right: 1ch;
      }

      & > * {
        flex: 1;

        &[href*='ebi.ac.uk'] {
          // Not the same aspect ratio, so gives more weight to compensate
          flex: 3;
        }
      }

      & img {
        width: auto;
        max-height: 50px;
      }
    }
  }

  .stats-release {
    align-self: center;
  }

  // Shortcuts
  .shortcuts {
    margin-top: $global-margin;
    grid-area: 1 / 4 / span 2 / span 6;
    display: flex;
    flex-direction: row;

    & > * {
      flex: 1;
    }

    // Cannot use flex gaps here because it would split the title underlines
    & > li:not(:last-child) {
      & .shortcuts__title,
      & > ul {
        padding-right: 2ch;
      }
    }

    li {
      padding-block: 0.2em;

      * > a {
        display: inline-block;
        padding-block: 0.5em;
        line-height: initial;
      }
    }

    &__title {
      white-space: nowrap;
      font-size: 1rem;
      display: block;
      padding-bottom: 1ch;
      border-bottom: 1px solid $colour-weldon-blue;
      font-weight: bold;
    }

    &__core-data {
      white-space: nowrap;
    }
  }

  // Contact & Elixir
  .contact-elixir {
    align-self: center;

    img {
      margin: 0.5ch;
      width: auto;
      height: 3em;
    }
  }

  // Funding
  .funding {
    display: flex;
    align-items: center;
    justify-content: space-between;

    :not(:last-child) {
      margin-right: 1ch;
    }

    & > * {
      white-space: nowrap;
    }
  }

  @include fs-breakpoints('small') {
    .consortium {
      grid-area: 1 / 1 / span 1 / span 12;
    }
    .copyright-misc {
      grid-area: 2 / 1 / span 1 / span 12;
    }
    .stats-release {
      grid-area: 3 / 1 / span 1 / span 12;
    }
    .shortcuts {
      grid-area: 4 / 1 / span 1 / span 12;
    }
    .contact-elixir {
      grid-area: 5 / 1 / span 1 / span 12;
    }
    .funding {
      grid-area: 6 / 1 / span 1 / span 12;
    }
  }

  @include fs-breakpoints('medium') {
    .consortium {
      grid-area: 1 / 1 / span 1 / span 3;
    }
    .copyright-misc {
      grid-area: 4 / 4 / span 1 / span 9;
      // override of default for medium and above
      display: flex;
      justify-content: space-around;
      & > p {
        margin-bottom: 0;
      }
    }
    .stats-release {
      grid-area: 4 / 1 / span 1 / span 3;
    }
    .shortcuts {
      grid-area: 1 / 4 / 3 / span 9;
    }
    .contact-elixir {
      grid-area: 2 / 1 / span 2 / span 3;
    }
    .funding {
      grid-area: 3 / 4 / 3 / span 9;
    }
  }

  @include fs-breakpoints('large') {
    .consortium {
      grid-area: 1 / 1 / span 1 / span 2;
    }
    .copyright-misc {
      grid-area: 2 / 1 / span 2 / span 3;
      // override (overriding of default for medium and above) for large (🤯)
      display: initial;
      & > p {
        margin-bottom: 1em;
      }
    }
    .stats-release {
      grid-area: 3 / 1 / span 1 / span 3;
    }
    .shortcuts {
      grid-area: 1 / 4 / span 2 / span 6;
    }
    .contact-elixir {
      grid-area: 1 / 11 / span 3 / span 2;
    }
    .funding {
      grid-area: 3 / 4 / span 1 / span 6;
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
