@import 'franklin-sites/src/styles/common/z-index';
@import 'franklin-sites/src/styles/colours';
@import '../../../styles/settings';
@import '../../../styles/mixins';

.sidebar-layout {
  display: flex;
  inline-size: 100vw;

  &__title {
    min-block-size: 1rem;
    // this is just to keep the right aligned with the cards lower in the page
    padding-inline-end: $gutter-size;
  }

  &__sidebar {
    @include scroll-shadow;
    position: sticky;
    top: $header-height;
    max-block-size: calc(100vh - #{$header-height});
    min-inline-size: 100px;
    inline-size: 30ch;
    padding: $gutter-size;
    overflow-y: auto;
    // TODO: validate with UX if that's a good thing to do
    // Hides the scrollbar, but keeps functionality
    // See https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-width#accessibility_concerns
    scrollbar-width: thin;
    &::-webkit-scrollbar {
      display: none;
    }
    // makes sure that the scrollbar isn't hidden by the action button group
    z-index: $z-index-medium + 1;
  }

  &__sidebar-content {
    &--empty {
      min-block-size: 50vh;
      block-size: 100%;
      background-color: $colour-platinum;
    }
  }

  &__content {
    inline-size: calc(100vw - 30ch);
    max-block-size: calc(100vh - #{$header-height});
    display: flex;
    flex-direction: column;

    & > * {
      flex-shrink: 0;
    }
  }
}
