@import 'franklin-sites/src/styles/common/z-index';
@import 'franklin-sites/src/styles/colours';
@import '../../../styles/settings';
@import '../../../styles/mixins';

.sidebar-layout {
  display: flex;
  width: 100%;

  &__title {
    min-height: 1rem;
    // this is just to keep the right aligned with the cards lower in the page
    padding-right: $gutter-size;
  }

  &__sidebar {
    @include scroll-shadow;
    position: sticky;
    top: var(--top-header-margin);
    max-height: calc(100vh - var(--top-header-margin));
    min-width: 100px;
    width: 30ch;
    padding: $gutter-size;
    overflow-y: auto;
    // TODO: validate with UX if that's a good thing to do
    // Hides the scrollbar, but keeps functionality
    // See https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-width#accessibility_concerns
    scrollbar-width: thin;
    &::-webkit-scrollbar {
      display: none;
    }
    // makes sure that the scrollbar isn't hidden by the action button group
    z-index: $z-index-medium + 1;
  }

  &__sidebar-content {
    &--empty {
      min-height: 50vh;
      height: 100%;
      background-color: $colour-platinum;
    }
  }

  &__content {
    width: calc(100vw - 30ch);
  }
}
