@import '../../../styles/settings';
@import '../../../styles/mixins';
@import '../../../../../node_modules/franklin-sites/src/styles/colours';

.sidebar-layout {
  display: grid;
  grid-template-areas: 'sidebar content';
  grid-template-columns: 20vw auto;

  height: 100%;
  overflow-y: hidden;

  &__title {
    min-height: 1rem;
    // this is just to keep the right aligned with the cards lower in the page
    padding-right: $gutter-size;
  }

  &__action-buttons {
    padding-right: $gutter-size;
    padding-left: calc(2 * #{$gutter-size});
    margin-left: -$gutter-size;
    padding-top: 0.5rem;
    top: 0;
    position: sticky;
    z-index: $z-index-medium;
    background-color: $colour-sky-white;
    height: $action-buttons-height;
  }

  &__title,
  &__action-buttons {
    position: sticky;
    left: 0;
    width: 100%;
  }

  &__sidebar {
    @include scroll-shadow;
    padding: 1rem $gutter-size 0;
    grid-area: sidebar;
    overflow-y: auto;
  }

  &__sidebar-content {
    &--empty {
      height: calc(100% - 1rem);
      background-color: $colour-platinum;
    }
  }

  &__content {
    padding: 0 $gutter-size;
    grid-area: content;
    overflow-y: auto;
  }
}
