.main-content {
  margin: 0;

  & > li {
    display: inline-block;
    margin-inline: 0.25ch;
  }

  :global(.dropdown) {
    /* "Visually" aligned with "SPARQL" */
    /* TODO: find a better way to align this */
    transform: translateY(-2px);
  }
}
