@import 'franklin-sites/src/styles/mixins';
@import 'franklin-sites/src/styles/colours';

.main-content {
  margin: 0;

  & > li {
    display: inline-block;
    margin-inline: 0.25ch;
  }

  :global(.dropdown) {
    /* "Visually" aligned with "SPARQL" */
    /* TODO: find a better way to align this */
    transform: translateY(-2px);
  }
}

.logo {
  background: $colour-sky-white;
  -webkit-mask: url('../../../../images/uniprot-logo.img.svg') no-repeat 0 0;
  mask: url('../../../../images/uniprot-logo.img.svg') no-repeat 0 0;
  width: 80px;
  height: 40px;

  &.home {
    background: $colour-sea-blue;
  }

  @include fs-breakpoints('large') {
    width: 100px;
    height: 54px;
  }
}
