.unifire-info {
  background-color: #e9f5f1;
}

.availability-content {
  margin-bottom: 1.5em;
  line-height: 0.2rem;
}

.availability-checkbox {
  opacity: 0.5;
}

.run-unifire-button {
  margin-top: 0.5rem;
  align-items: center;
}
