@import 'franklin-sites/src/styles/colours';

.home-page__header {
  .cite-us {
    // override default link style for this specific space
    color: $colour-sky-white;
    text-decoration: underline;
  }

  .letter-group {
    color: currentColor;
    font-weight: 700;
    outline: none;
    cursor: text;
  }

  .letter {
    opacity: 0;
    animation: appear 150ms 1 both;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
