@import 'franklin-sites/src/styles/colours';
@import 'franklin-sites/src/styles/settings';
@import 'franklin-sites/src/styles/mixins';
@import '../../../../shared/styles/mixins';

.home-page-section {
  &:not(:last-child) {
    margin-block-end: $global-margin * 2;
  }

  /* A "small tablet" breakpoint */
  @media only screen and (max-width: 900px) and (min-width: 640px) {
    :global(.tile__description) {
      /* Make the description part taller to fit everything */
      transform: translate(0);
    }
  }
}

.core-data-tile {
  & :global(.tile__description) {
    // reduce from default 0.7em to fit more content
    padding: 0.5em;
  }
}

.core-data {
  display: flex;
  line-height: 1.2;

  & > * {
    flex: 1;
  }

  a {
    display: inline-block;
    color: currentColor;
  }

  & &__reviewed-icon {
    color: $colour-reviewed;
  }

  div:not(.core-data__status) {
    font-weight: lighter;
  }
}

.extra-links {
  & > * {
    position: relative;

    text-shadow:
      -1px -1px 0 white,
      1px 1px 0 white;
  }

  & img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: auto;
    opacity: 0.5;
    filter: blur(1px);

    & ~ * {
      position: relative;
    }
  }
}

.supporting-data {
  &__header {
    margin: 0;
    line-height: 0.9;
  }
}

$latest-news-height: 18rem;

.latest-news {
  @include fs-breakpoints('medium') {
    height: $latest-news-height;
  }

  h3,
  h4 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  // Because of Z-pattern:
  // Mess up with the order of cells in order to have the title in the last
  // "visible" cell cover semantically all 3 cells
  & > * {
    @include fs-breakpoints('medium') {
      grid-row-start: 1;
    }
    margin-bottom: $global-padding;
  }

  &__spotlight {
    padding: 0 $global-padding;
    background: $colour-sky-white;

    & :global(.chip) {
      --main-chip-color: #{$colour-platinum};
      float: right;
      margin-inline-end: -0.75 * $global-padding;
      margin-block-end: -0.25 * $global-padding;
    }

    .latest-news__abstract {
      margin-bottom: 0;
    }

    h3 {
      width: 100%;
    }

    .ps-logo-protein-color {
      color: rgb(130, 97, 40);
    }

    .ps-logo-spotlight-color {
      color: rgb(4, 53, 101);
    }
  }

  &__blogspot {
    overflow: hidden;

    & > * {
      height: 48%;

      &:first-child {
        margin-bottom: 4%;
      }
    }

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__news-roll {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    @include fs-breakpoints('medium') {
      max-height: calc(#{$latest-news-height} - #{$global-padding});
    }

    &-heading {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }

    & > ul {
      @include scroll-shadow($colour-platinum);
      margin-bottom: 0;
      overflow: auto;

      // TODO: validate with UX if that's a good thing to do
      // Hides the scrollbar, but keeps functionality
      // See https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-width#accessibility_concerns
      scrollbar-width: thin;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    article {
      margin-bottom: 0.5em;
    }

    h3 {
      margin-bottom: 0;
    }
  }

  article {
    overflow-y: hidden;

    img {
      float: left;
      margin-right: 1ch;
      max-width: calc(50% - 1ch);
    }
  }

  h3 {
    line-height: 1.2;
  }

  &__abstract {
    display: inline;
    margin-bottom: 0.2em;
    overflow: hidden;

    &--2-lines {
      // https://css-tricks.com/line-clampin/
      display: -webkit-box;
      -webkit-box-orient: vertical;

      -webkit-line-clamp: 2;
    }

    &--4-lines {
      // https://css-tricks.com/line-clampin/
      display: -webkit-box;
      -webkit-box-orient: vertical;

      -webkit-line-clamp: 4;
    }
  }
}

.no-small {
  display: none;

  @include fs-breakpoints('medium') {
    display: grid;
  }
}

.align-end {
  text-align: end;
}
.need-help {
  // Because of Z-pattern:
  // Mess up with the order of cells in order to have the title in the last
  // "visible" cell cover semantically all 3 cells
  align-items: flex-end;

  & > * {
    grid-row-start: 1;
  }

  &__next-up {
    grid-row: 3 / span 2;

    @include fs-breakpoints('medium') {
      grid-row-start: 1;
    }

    align-self: stretch;
    background: $colour-sky-white;

    h3 {
      margin-bottom: 0;
    }

    h4 {
      margin-top: $global-margin;
      line-height: 1.3;
    }

    .training-loaded-container {
      margin: $global-margin;
      border-left: 4px solid $colour-warning;
      padding-left: 1ch;
    }

    .details-container > * {
      white-space: nowrap;
      font-size: 0.75rem;

      &:not(:last-child) {
        border-right: 1px solid currentColor;
        padding-right: 0.5ch;
        margin-right: 0.5ch;
      }

      svg {
        padding-right: 0.5ch;
      }
    }

    .description {
      margin-bottom: 0;
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;

      -webkit-line-clamp: 4;
    }
  }

  &__tutorial-videos-top {
    grid-row-start: 3;

    @include fs-breakpoints('medium') {
      grid-row-start: 1;
    }
  }

  &__tutorial-videos-bottom {
    align-self: start;
    grid-row-start: 4;

    @include fs-breakpoints('medium') {
      grid-row-start: 2;
    }

    a {
      margin-block: 1ch;
      display: block;
      line-height: 2;
    }
  }

  &__attend-training-top,
  &__attend-training-bottom {
    h2 > svg {
      color: $colour-sapphire-blue;
    }

    a {
      display: block;
      font-size: 0.9rem;
      line-height: 2;
    }

    svg {
      margin-right: 0.5ch;
    }
  }

  &__attend-training-bottom {
    grid-row-start: 2;
  }

  &__need-help-top {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      margin-bottom: 0;
    }
  }

  &__need-help-bottom {
    grid-row-start: 2;

    a {
      display: inline-block;
      margin: 1.5em 1em 0 0;

      svg {
        fill: $colour-weldon-blue;
      }
    }
  }
}
