@import 'franklin-sites/src/styles/colours';
@import 'franklin-sites/src/styles/settings';
@import 'lite-youtube-embed/src/lite-yt-embed.css';
@import '../../../../shared/styles/mixins';

.home-page-section {
  margin-bottom: $global-margin * 2;
}

.core-data {
  display: flex;
  line-height: 1;

  & > * {
    flex: 1;
  }

  svg,
  a {
    display: inline-block;
    color: currentColor;
  }

  svg :global(.swissprot_svg__star) {
    fill: $colour-reviewed;
  }

  &__status {
    font-weight: bold;
  }
}

.supporting-data {
  &__header {
    margin: 0;
    line-height: 0.9;
  }
}

$latest-news-height: 18rem;

.latest-news {
  grid-template-rows: calc(#{$latest-news-height} - #{$global-padding});
  height: $latest-news-height;

  // Because of Z-pattern:
  // Mess up with the order of cells in order to have the title in the last
  // "visible" cell cover semantically all 3 cells
  & > * {
    grid-row-start: 1;
    margin-bottom: $global-padding;
  }

  &__spotlight {
    grid-column-start: 1 !important;

    padding: 0 $global-padding;
    background: $colour-sky-white;
  }

  &__inside-uniprot {
    grid-column-start: 5 !important;

    & > * {
      height: 48%;

      &:first-child {
        margin-bottom: 4%;
      }
    }

    img {
      height: 100%;
      object-fit: cover;
    }

    h3 {
      margin-bottom: 0;
    }
  }

  &__news-roll {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;

    & > ul {
      @include scroll-shadow($colour-platinum);
      margin-bottom: 0;
      overflow: auto;

      // TODO: validate with UX if that's a good thing to do
      // Hides the scrollbar, but keeps functionality
      // See https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-width#accessibility_concerns
      scrollbar-width: thin;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    article {
      margin-bottom: 0.5em;
    }

    h3 {
      margin-bottom: 0;
    }
  }

  // TODO: remove if the time is not needed in the spotlight
  // time {
  //   font-size: 1rem;
  // NOTE: contrast too low anyway, so not good
  //   color: $colour-weldon-blue;

  //   & > svg {
  //     margin: 0 0.5ch 0 1ch;
  //   }
  // }

  article {
    overflow-y: hidden;

    img {
      float: left;
      margin-right: 1ch;
      max-width: 40%;
    }
  }

  h3 {
    line-height: 1.2;
  }

  &__abstract {
    display: inline;
    margin-bottom: 0.2em;
    overflow: hidden;

    &--2-lines {
      // https://css-tricks.com/line-clampin/
      display: -webkit-box;
      -webkit-box-orient: vertical;

      -webkit-line-clamp: 2;
    }
  }
}

.need-help {
  // Because of Z-pattern:
  // Mess up with the order of cells in order to have the title in the last
  // "visible" cell cover semantically all 3 cells
  & > * {
    grid-row-start: 1;
  }

  &__next-up {
    grid-column-start: 1 !important;
    background: $colour-sky-white;

    h3 {
      margin-bottom: 0;
    }

    h4 {
      margin-top: $global-margin;
    }

    .training-loaded-container {
      margin: $global-margin;
      border-left: 4px solid $colour-warning;
      padding-left: 1ch;
    }

    .details-container > * {
      white-space: nowrap;
      font-size: 0.8rem;

      &:not(:last-child) {
        border-right: 1px solid currentColor;
        padding-right: 0.5ch;
        margin-right: 0.5ch;
      }

      svg {
        padding-right: 0.5ch;
      }
    }

    // .description {
    //   font-size: 0.8rem;
    //   margin-bottom: 0;
    // }
  }

  &__tutorial-videos {
    grid-column-start: 4 !important;

    a {
      display: block;
      line-height: 2;
    }
  }

  &__attend-training {
    grid-column-start: 7 !important;

    h2 > svg {
      color: $colour-sapphire-blue;
    }

    a {
      display: block;
      font-size: 0.9rem;
      line-height: 2;
    }

    svg {
      margin-right: 0.5ch;
    }
  }

  &__need-help {
    grid-column-start: 10 !important;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a {
      display: inline-block;
      margin: 0 1em 1em 0;

      svg {
        fill: $colour-weldon-blue;
      }
    }
  }

  lite-youtube,
  img {
    margin-bottom: 1ch;
  }
}
