@import 'franklin-sites/src/styles/colours';

.help-autocomplete {
  :global(input[type='text']) {
    margin-bottom: 0.5rem;
  }

  :global(.card) {
    width: initial;
    margin-top: 0;
    max-height: 30rem;
    overflow-y: scroll;
  }

  :global(.info-list) {
    margin: 0rem;
  }

  :global(.decorated-list-item) {
    padding: 0.5rem;
  }

  :global(.decorated-list-item__title) {
    flex-basis: 25vw;
    text-align: left;
  }

  :global(.decorated-list-item__content) {
    border-left-color: $colour-gainsborough;
  }
}
