@import 'franklin-sites/src/styles/colours';
@import 'franklin-sites/src/styles/settings';

.help-landing {
  &__tiles {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));

    // Neither small nor medium
    @media only screen and (max-width: 930px) and (min-width: 640px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    // Small screen
    @media only screen and (max-width: 640px) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    grid-template-rows: repeat(2, 1fr);
    gap: $global-margin;
    margin-bottom: $global-margin;
  }

  &__faqs {
    margin-top: 0.5 * $global-margin;

    li {
      margin-bottom: 0.5 * $global-margin;
    }

    &__view-all {
      margin-top: $global-margin;
    }
  }

  &__contact {
    margin-top: 2 * $global-margin;

    p {
      margin-bottom: 0.5 * $global-margin;
    }
  }

  &__videos {
    margin-top: 2 * $global-margin;

    &__list {
      max-height: 20rem;
      overflow-y: auto;

      & > * {
        margin-bottom: $global-margin;
      }
    }
  }
}
