@import 'franklin-sites/src/styles/common/z-index';
@import 'franklin-sites/src/styles/colours';

@keyframes reveal {
  from {
    clip-path: circle(0% at 50% 0%);
  }
  to {
    clip-path: circle(100% at 50% 0%);
  }
}

.help-quick-search {
  &__results {
    animation: 200ms reveal;
    position: relative;
    z-index: $z-index-low;

    :global(.card) {
      width: initial;
      margin-top: 0;
      top: 0;
      position: absolute;
      width: 100%;
    }

    :global(.info-list) {
      margin: 0rem;
      max-height: 30rem;
      overflow-y: auto;
    }

    &__all-link {
      text-align: right;
    }
  }

  :global(.search-input__suffix) {
    color: $colour-help-green;
  }

  :global(input[type='text']) {
    margin-bottom: 0.5rem;
  }

  :global(.decorated-list-item) {
    padding: 0.5rem;
  }

  :global(.decorated-list-item__title) {
    flex-basis: 25vw;
    text-align: left;
  }

  :global(.decorated-list-item__content) {
    border-left-color: $colour-gainsborough;
    word-wrap: break-word;
  }
}
