@import 'franklin-sites/src/styles/colours';

.illustrated-list-tile {
  border: 1px solid $colour-gainsborough;
  width: 100%;
  padding: 1rem;

  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    & > * {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      height: 7.5rem;
    }

    &__image {
      flex: 0.333;
    }

    &__list {
      flex: 1;

      li {
        margin-bottom: 0.75rem;
        line-height: 1.25;
      }
    }
  }

  &__more-link {
    text-align: right;
  }
}
