@import 'franklin-sites/src/styles/colours';

.illustrated-list-tile {
  border: 1px solid $colour-gainsborough;
  width: 100%;
  aspect-ratio: 1 / 1;
  padding: 1rem;
  gap: 1rem;

  display: grid;
  grid-template-areas:
    'heading heading'
    'image   list'
    'more    more';
  grid-template-columns: 1fr 3fr;
  grid-template-rows: min-content 1fr min-content;

  &__heading {
    grid-area: heading;
  }

  &__image {
    grid-area: image;
  }

  &__list {
    grid-area: list;
  }

  &__more {
    grid-area: more;
    justify-self: flex-end;
  }
}
