.confirm-async-download {
  display: inline-block;

  .info-list {
    margin-top: 1rem;
  }

  :global(.decorated-list-item__title) {
    flex-basis: 25%;
  }

  :global(.codeblock) {
    white-space: normal;
  }
}
