@import 'franklin-sites/src/styles/colours';

[data-article-id] {
  cursor: pointer;
  &::after {
    content: 'i';
    padding-left: 0.1rem;
    font-size: 0.75rem;
    font-family: Bookman, Garamond, serif;
    position: relative;
    vertical-align: super;
  }
}

.contextual-help-panel {
  height: 60vh;
  margin-top: calc(50vh - 30vh);
  :global(.sliding-panel__header) {
    background-color: $colour-help-green;
  }
}
