[data-article-id] {
  cursor: pointer;
  &::after {
    content: 'i';
    padding-left: 0.1rem;
    font-size: 0.75rem;
    font-family: Bookman, Garamond, serif;
    position: relative;
    vertical-align: super;
  }
}
