@import 'franklin-sites/src/styles/colours';

@import '../../../../shared/styles/mixins';

[data-article-id] {
  /* main styles loaded earlier here src/app/components/styles/app.scss */
  cursor: pointer;

  &::after {
    cursor: inherit;
    opacity: 1;
  }

  [data-tippy-root] &::after {
    display: initial;
  }
}

$help-height: 35em;

@media only screen and (max-height: $help-height) {
  .contextual-help-panel {
    display: none;
  }
}

.contextual-help-panel {
  block-size: max($help-height, 50vh);
  margin-block-start: calc(50vh - 0.5 * max($help-height, 50vh));
  z-index: 2147483642;

  :global(.sliding-panel__header) {
    background-color: $colour-help-green;
  }

  :global(.sliding-panel__content) {
    @include scroll-shadow($colour-sky-white);
    overscroll-behavior: contain;
  }

  :global(.error-page-container) img {
    width: 50%;
  }
}
