@import 'franklin-sites/src/styles/colours';
@import 'franklin-sites/src/styles/settings';

.paragraph {
  margin-block: 0.5 * $global-margin $global-margin;
  padding-inline-start: 0.5 * $global-padding;
  border-inline-start: 0.125rem solid $colour-gainsborough;
}
