@import 'franklin-sites/src/styles/colours';
@import 'franklin-sites/src/styles/settings';

.container {
  margin: -$global-margin;
  position: sticky;
  top: -$global-margin;
  z-index: 1;

  & :global(.search-input__suffix) {
    color: $colour-help-green;
  }
}
