.expand-button-container {
  display: flex;
  justify-content: flex-end;
  // float: right;
  margin-top: 0.5rem;
}

.container {
  overflow-y: auto;
  width: calc(100% + 2em);
  padding-inline: 1em;
  margin-inline-start: -1em;

  &.collapsed {
    height: 25rem;
  }
}

.table {
  width: 100%;
  padding: 0;
  margin: 1em 0;
  border-spacing: 0;
  border-block-end: 1px solid #c2c4c4;
  border-collapse: collapse;

  & th {
    text-align: left;
    vertical-align: middle;
    background-color: #fff;
    color: #393b42;
    text-overflow: ellipsis;
    text-transform: uppercase;
  }

  & td,
  & th {
    padding: 0.2rem 1ch;
    border-block-start: 1px solid #c2c4c4;
  }

  & thead :global(.dropdown) > button {
    font-family: monospace;
    font-weight: bold;
    font-size: 1em;
    width: 2ch;
    margin: 0;
  }
}

.row {
  background-color: #fff;
  border-color: transparent;
  border-style: solid;
  border-width: 0 0.5rem;

  &.mark-background {
    &,
    & + .extra-content {
      background-color: rgba(255, 235, 59, 0.3) !important;
    }
  }

  &.mark-border {
    &,
    & + .extra-content {
      border-color: rgb(214, 214, 214);
    }
  }

  &.odd {
    background-color: #e4e8eb;
  }

  &:hover {
    /* Select a row that is hovered and its next .extra-content sibling */
    /* => keep groups of rows highlighted in sync */
    &,
    & + .extra-content {
      background-color: #f1f1f1;
    }
  }

  & td:first-child {
    padding-inline-end: 0;
    width: 0;
  }

  &.has-extra-content {
    cursor: pointer;

    & td:first-child button {
      font-family: monospace;
      font-weight: bold;
      font-size: 1em;
      cursor: pointer;
      width: 2ch;
    }
  }

  &.extra-content td {
    border-color: #c2c4c455;
  }
}

/* Keeping that outside of nesting as SCSS preprocessing and :has selector */
/* are not working well together */
/* Select a row that has a next .extra-content sibling that is hovered */
/* => keep groups of rows highlighted in sync */
.row:has(+ .extra-content:hover) {
  background-color: #f1f1f1;
}

.message--no-data {
  margin: 0.5rem;
}
