.container {
  overflow-y: auto;
  width: calc(100% + 2em);
  padding-inline: 1em;
  margin-inline-start: -1em;
}

.table {
  width: 100%;
  padding: 0;
  margin: 1em 0;
  border-spacing: 0;
  border-block-end: 1px solid #c2c4c4;

  & th {
    text-align: left;
    vertical-align: middle;
    background-color: var(--protvista-datable__header-background, #fff);
    color: var(--protvista-datable__header-text, #393b42);
    text-overflow: ellipsis;
    text-transform: uppercase;
  }

  & td,
  & th {
    padding: 0.2rem 1ch;
    border-block-start: 1px solid #c2c4c4;
  }

  & thead :global(.dropdown) > button {
    font-family: monospace;
    font-weight: bold;
    font-size: 1em;
    width: 2ch;
    margin: 0;
  }
}

.row {
  background-color: var(--protvista-datatable__even, #fff);

  &.highlighted {
    &,
    & + .extra-content {
      background-color: var(
        --protvista-datatable__active,
        rgba(255, 235, 59, 0.3)
      ) !important;
    }
  }

  &.odd {
    background-color: var(--protvista-datatable__odd, #e4e8eb);
  }

  &:hover {
    /* Select a row that is hovered and its next .extra-content sibling */
    /* => keep groups of rows highlighted in sync */
    &,
    & + .extra-content {
      background-color: var(--protvista-datatable__hover, #f1f1f1);
    }
  }

  & td:first-child {
    padding-inline-end: 0;
    width: 0;
  }

  &.has-extra-content {
    cursor: pointer;

    & td:first-child button {
      font-family: monospace;
      font-weight: bold;
      font-size: 1em;
      cursor: pointer;
      width: 2ch;
    }
  }

  &.extra-content td {
    border-color: #c2c4c455;
  }
}

/* Keeping that outside of nesting as SCSS preprocessing and :has selector */
/* are not working well together */
/* Select a row that has a next .extra-content sibling that is hovered */
/* => keep groups of rows highlighted in sync */
.row:has(+ .extra-content:hover) {
  background-color: var(--protvista-datatable__hover, #f1f1f1);
}
