@import 'franklin-sites/src/styles/settings';

.expand-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}

.container {
  width: calc(100% + 2em);
  padding-inline: 1em;
  margin-inline-start: -1em;
  overflow: scroll;

  &.collapsed {
    max-height: 25rem;
  }
}

.table {
  width: 100%;
  padding: 0;
  margin: 0 0 2 * $global-margin 0;
  border-spacing: 0;
  border-block-end: 1px solid #c2c4c4;
  border-collapse: collapse;
  border-block-end: 1px solid var(--table_border);

  & thead {
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow:
      -1em 0 var(--table__header-background),
      1em 0 var(--table__header-background),
      0 -1px var(--table__header-background),
      0 1px var(--table__header-background),
      inset -1em 0 var(--table__header-background),
      inset 1em 0 var(--table__header-background),
      inset 0 -1px var(--table__header-background),
      inset 0 1px var(--table__header-background);
  }

  & th {
    text-align: left;
    vertical-align: var(--table-header-vertical-align, middle);
    background-color: var(--table__header-background);
    color: var(--table__header-text);
    text-overflow: ellipsis;
    text-transform: uppercase;
  }

  & td,
  & th {
    padding: 0.2rem 1ch;
    border-block-start: 1px solid var(--table_border);

    & .feature-navigation-button {
      margin-top: 0.5rem;
      margin-bottom: -0.5rem;

      button {
        padding: 0.33em;
      }
    }
  }

  & thead :global(.dropdown) > button {
    font-family: monospace;
    font-weight: bold;
    font-size: 1em;
    width: 2ch;
    margin: 0;
  }
}

.row {
  background-color: var(--table__even);
  border-color: transparent;
  border-style: solid;
  border-width: 0 0.5rem;

  &.mark-background {
    &,
    & + .extra-content {
      background-color: rgba(255, 235, 59, 0.3) !important;
    }
  }

  &.mark-border {
    &,
    & + .extra-content {
      border-color: rgb(214, 214, 214);

      &:has(td):has(.feature-navigation-button) {
        td .feature-navigation-button {
          display: none;
        }
      }
    }
  }

  &.odd {
    background-color: var(--table__odd);
  }

  &:hover {
    /* Select a row that is hovered and its next .extra-content sibling */
    /* => keep groups of rows highlighted in sync */
    &,
    & + .extra-content {
      background-color: var(--table__hover);
    }
  }

  & td:first-child {
    padding-inline-end: 0;
    width: 0;
  }

  &.has-extra-content {
    cursor: pointer;

    & td:first-child button {
      font-family: monospace;
      font-weight: bold;
      font-size: 1em;
      cursor: pointer;
      width: 2ch;
    }
  }

  &.extra-content td {
    border-color: var(--table_border);
  }
}

/* Keeping that outside of nesting as SCSS preprocessing and :has selector */
/* are not working well together */
/* Select a row that has a next .extra-content sibling that is hovered */
/* => keep groups of rows highlighted in sync */
.row:has(+ .extra-content:hover) {
  background-color: var(--table__hover);
}

.message--no-data {
  margin: 0.5rem;
}
