@import '../../../shared/styles/settings';

.advanced-search {
  &__clause {
    display: flex;
    align-items: flex-end;
    gap: 1vw;
    margin-left: 2vw;

    &:not(:first-child) {
      margin-top: 1em;
    }

    & button {
      margin-bottom: 0;

      &.tertiary {
        padding-bottom: 0.5em; // hacky align 🤷🏽‍♂️
      }
    }

    .advanced-search__logic {
      flex: 0 0 8ch;
      margin-bottom: 0;
    }

    .dropdown-container {
      flex-shrink: 0;

      button {
        margin-right: 0;
      }
    }

    .advanced-search__inputs {
      flex-grow: 2;
      display: flex;

      label {
        width: 100%;
      }

      input,
      select {
        margin-bottom: 0;
      }
    }
  }

  &__actions {
    margin-top: 1em;

    [type='submit'] {
      float: right;
    }
  }
}
