@import 'busco-colors';

.busco-view {
  &__track {
    // Percentages that will be dynamically set by JS
    --s: 25%; // completeSingle
    --d: 25%; // completeDuplicated
    --f: 25%; // fragmented
    // "missing" not needed as it will be the remainder of 100%

    --sd: calc(var(--s) + var(--d));
    --sdf: calc(var(--s) + var(--d) + var(--f));

    height: 15px;
    background: linear-gradient(
      to right,
      $s-color,
      $s-color var(--s),
      $d-color var(--s),
      $d-color var(--sd),
      $f-color var(--sd),
      $f-color var(--sdf),
      $m-color var(--sdf),
      $m-color
    );

    &__report {
      margin-top: 0.4rem;
      font-weight: bold;
      font-size: 0.8rem;
    }
  }
}
