@import 'franklin-sites/src/styles/colours';

.busco {
  padding-top: 0.3rem;
}

.description {
  hr {
    border: none;
    height: 0.125rem;
    background-color: $colour-platinum;
  }
  p {
    margin-top: 1rem;
  }
}
