.graph {
  position: relative;
  width: 30rem;
}

.container {
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;

  :global(.node) {
    // width: min-content;
    padding: 0.1rem;
  }
}

.keyword-node {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
}

.arrows {
  position: absolute;
  pointer-events: none;
}
