@import 'franklin-sites/src/styles/colours';
@import 'franklin-sites/src/styles/settings';

.statistics-page {
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: fit-content;
  }

  table {
    margin-bottom: $global-margin;
    border-spacing: 0;
    overflow: auto;

    caption {
      inline-size: max-content;
    }
  }

  thead {
    color: $colour-sky-white;
    background: $colour-sea-blue;

    a {
      color: $colour-sky-white;
    }
  }

  tbody {
    border: 1px solid $colour-sea-blue;
  }

  th,
  td {
    padding: $global-padding * 0.25 $global-padding * 0.5;
    border: 1px solid $colour-sea-blue;
    border-collapse: collapse;
  }

  :global(.tabs) {
    margin-bottom: $global-margin;
  }

  :global(.tabs__header) {
    margin-bottom: 0.5 * $global-margin;
  }
}

.end {
  text-align: end;
}

.side-by-side {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

  & > .viz {
    grid-row-start: 1;
    grid-column-end: -1;

    & > svg {
      position: sticky;
      top: 0;
    }
  }
}
