@import 'franklin-sites/src/styles/settings';
@import '../../../styles/settings';

.entry-page {
  *[id] {
    scroll-margin-top: calc(var(--top-header-margin) + #{$global-margin * 0.5});
  }

  & .tabs__header {
    margin: 1rem 0.125rem;
    width: calc(100% - 1rem);
  }
}
