@import 'franklin-sites/src/styles/settings';
@import '../../../styles/settings';

.entry-page {
  *[id] {
    // NOTE: this needs to be changed according to the height of the sticky part
    // of the page. It's the offset when scrolling to specific parts of the page
    scroll-margin-top: calc(#{$header-height} + #{$global-margin * 0.5});
  }

  & .tabs__header {
    margin: 1rem 0.125rem;
    width: calc(100% - 1rem);
  }
}
