@import 'franklin-sites/src/styles/settings';

.landing-page {
  margin-block: 2 * $global-margin;

  .image-container {
    display: grid;
    place-items: center;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  table {
    margin-bottom: $global-margin;
    border-spacing: 0;
    overflow: auto;
    width: 100%;
  }

  thead {
    color: var(--fr--color-sky-white);
    background: var(--fr--color-sea-blue);

    a {
      color: var(--fr--color-sky-white);
    }
  }

  tbody {
    border: 1px solid var(--fr--color-sea-blue);
  }

  th,
  td {
    padding: $global-padding * 0.25 $global-padding * 0.5;
    border: 1px solid var(--fr--color-sea-blue);
    border-collapse: collapse;
  }
  .animation {
    border: 1px solid var(--fr--color-uniref);

    :global(.cluster_animation_illustration_svg__identity-100),
    :global(.cluster_animation_illustration_svg__identity-90),
    :global(.cluster_animation_illustration_svg__identity-50) {
      animation-name: cluster-animation;
      animation-duration: 6s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      animation-timing-function: cubic-bezier(0.61, -0.08, 0, 1.63);
    }

    :global(.cluster_animation_illustration_svg__identity-100) {
      opacity: 1;
    }

    :global(.cluster_animation_illustration_svg__identity-90) {
      opacity: 0;
      animation-delay: -2s;
    }

    :global(.cluster_animation_illustration_svg__identity-50) {
      opacity: 0;
      animation-delay: -4s;
    }
  }

  /**/
}

@keyframes cluster-animation {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

// .tutorial {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;

//   &__title {
//     // Show maximum 2 lines of the title
//     display: -webkit-box;
//     -webkit-box-orient: vertical;
//     -webkit-line-clamp: 2;
//     overflow: hidden;
//   }
// }
