@import 'franklin-sites/src/styles/settings';

.landing-page {
  margin-block: 2 * $global-margin;

  .image-container {
    display: grid;
    place-items: center;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  table {
    margin-bottom: $global-margin;
    border-spacing: 0;
    overflow: auto;
    width: 100%;
  }

  thead {
    color: var(--fr--color-sky-white);
    background: var(--fr--color-sea-blue);

    a {
      color: var(--fr--color-sky-white);
    }
  }

  tbody {
    border: 1px solid var(--fr--color-sea-blue);
  }

  th,
  td {
    padding: $global-padding * 0.25 $global-padding * 0.5;
    border: 1px solid var(--fr--color-sea-blue);
    border-collapse: collapse;
  }
  .animation {
    border: 1px solid var(--fr--color-uniref);

    /* classnames automatically based on the name of the file */
    circle[class^='cluster_animation_illustration_svg__identity'] {
      opacity: 0;
      transition: opacity 1s ease-in-out;
    }

    &[data-identity='100']
      :global(.cluster_animation_illustration_svg__identity-100),
    &[data-identity='90']
      :global(.cluster_animation_illustration_svg__identity-90),
    &[data-identity='50']
      :global(.cluster_animation_illustration_svg__identity-50) {
      opacity: 1;
    }
  }

  /**/
}

@keyframes cluster-animation {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

// .tutorial {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;

//   &__title {
//     // Show maximum 2 lines of the title
//     display: -webkit-box;
//     -webkit-box-orient: vertical;
//     -webkit-line-clamp: 2;
//     overflow: hidden;
//   }
// }
