@import 'franklin-sites/src/styles/settings';
@import 'franklin-sites/src/styles/colours';

$reviewed-tweak: 0.3em;

.landing-page {
  margin-block: 2 * $global-margin;

  p:last-of-type {
    margin-bottom: 0;
  }
}

.statistics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.entries-count {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  p {
    display: flex;
    gap: $global-margin;
  }
}

.download {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  a {
    margin-inline-end: 0.5 * $global-margin;
  }
}

// .tutorial {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;

//   &__title {
//     // Show maximum 2 lines of the title
//     display: -webkit-box;
//     -webkit-box-orient: vertical;
//     -webkit-line-clamp: 2;
//     overflow: hidden;
//   }
// }
