.spinner {
  margin-left: 3rem;
}
ul.groupBy {
  border-left: 1px solid lightgray;
  margin-left: 1rem;

  li {
    .expand {
      width: 4.5ch;
      display: inline-block;
      button {
        border: 0;
        margin-top: -0.4rem;
        margin-bottom: 0rem;
        transition: transform 0.25s ease-out;

        &[aria-expanded='true'] {
          transform: rotateZ(90deg);
        }
      }
    }

    .count {
      width: 10ch;
      display: inline-block;
      margin-right: 0.5rem;
    }
  }
}
