@import 'franklin-sites/src/styles/colours';

ul.groupBy {
  border-left: 1px solid lightgray;
  margin-left: 1rem;
  margin-bottom: 0;

  &__root {
    border-left: 0;
  }

  .spinner {
    margin-left: 1rem;
  }

  li.header {
    h2 {
      display: inline-block;
    }
    .count {
      margin-left: 5ch;
      width: 17ch;
    }
  }

  li.row {
    .expand {
      width: 4.5ch;
      display: inline-block;

      button {
        border: 0;
        margin-top: -0.4rem;
        margin-bottom: 0rem;
        transition: transform 0.25s ease-out;
        outline: 0;
        &:hover {
          background-color: transparent;
          color: $colour-sapphire-blue;
        }

        &[aria-expanded='true'] {
          transform: rotateZ(90deg);
        }
      }
    }

    .count {
      display: inline-block;
      width: 15ch;
    }
  }
}
