.preview {
  width: 100%;
  display: inline-block;

  .codeblock {
    overflow: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid black;
    code {
      padding: 0.5rem;
      height: 17.5rem;
    }
  }

  .codeblock--inline {
    overflow: hidden;
    display: inline-block;
    code {
      white-space: normal;
      display: inline-block;
      word-break: break-all;
      height: auto;
    }
  }
}
