@import 'franklin-sites/src/styles/settings';

.action-buttons {
  width: 100%;
  background-color: white;
  // Compensate the panel's inner padding
  bottom: -$global-padding;
  // Override .button-group's margin
  margin-block-end: 0;
}

.not-selectable {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.ftp-header {
  display: block !important;
}

.ftp-url {
  margin: 0.5 * $global-margin 0;

  svg {
    margin-top: -0.2rem;
    margin-right: 0.5rem;
    vertical-align: middle;
  }
}

.isoform-option {
  margin-top: 1rem;

  label {
    margin: 0.5rem;
  }
}
