@import 'franklin-sites/src/styles/settings';

.action-buttons {
  width: 100%;
  background-color: white;
  // Compensate the panel's inner padding
  bottom: -$global-padding;
  // Override .button-group's margin
  margin-block-end: 0;
}

.ftp-header {
  display: block !important;
}

.ftp-url {
  margin: 0.5 * $global-margin 0;
  display: block;
}
