.coordinates-table {
  /* | <whitespace> | <no data line> | <whitespace>      | <whitespace> | */
  /* | <whitespace> | <whitespace>   | <single position> | <whitespace> | */
  /* | <start>      | <separator>    | <end>             | <whitespace> | */
  .coordinates {
    text-align: end;
    width: 0;
    padding-inline: 0;

    /* separator or no data line */
    &:nth-of-type(4n + 4) {
      text-align: center;
      width: 1ch;
    }

    /* 4th cell whitespace (used to have a separator between columns) */
    &:nth-of-type(4n + 2) {
      width: initial;
    }
  }
}
