.stale,
.disabled {
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}

.no-wrap {
  white-space: nowrap;
}

.capitalize {
  text-transform: capitalize;
}

.bolder {
  font-weight: bolder;
}

.no-text-transform {
  text-transform: none;
}
