@use 'sass:math';

@import 'franklin-sites/src/styles/colours';
@import 'franklin-sites/src/styles/settings';

.publication {
  width: 100%;

  .button.tertiary {
    margin: 0;
  }

  &__heading {
    line-height: 1.2;

    &--no-title {
      opacity: 0.5;
    }
  }

  &__authors {
    margin-bottom: math.div($global-margin, 2);

    .button.tertiary {
      padding: 0 0.5rem;
    }
  }

  &__abstract {
    margin-bottom: math.div($global-margin, 2);
  }

  &__columns {
    display: flex;
    justify-content: space-between;

    &__main {
      margin-right: $global-margin;
    }

    &__side {
      flex: 0 0 16rem;

      &__item {
        border-left: 0.125rem solid $colour-vivid-cerulean;
        padding-left: 0.7rem;
      }
    }
  }

  &__statistics {
    display: flex;
    gap: 1rem;
    &__content {
      &__body {
        display: flex;
        .bubble--small {
          --main-bubble-color: #{$colour-pastel-blue};
          color: $colour-yankees-blue;
        }

        & > *:not(:last-child) {
          margin-right: $global-margin;
        }

        &--reviewed {
          color: $colour-reviewed;
        }

        &--unreviewed {
          color: $colour-unreviewed;
        }
      }
    }
  }
}
