@import 'franklin-sites/src/styles/colours';

.sticky-tabs-container {
  & :global(.tabs__header) {
    z-index: 5000;
    position: sticky;
    top: 0;
    background: rgba($colour-sky-white, 0.75);
    backdrop-filter: blur(2px);
  }

  // Not tabs inside tabs...
  & :global(.tabs) :global(.tabs) :global(.tabs__header) {
    position: initial;
  }
}

.sticky-bottom-right {
  float: right;
  position: sticky;
  bottom: 0;
}
