@import 'franklin-sites/src/styles/colours';

.sticky-tabs-container {
  & :global(.tabs__header) {
    z-index: 100;
    position: sticky;
    top: 0;
    background: $colour-sky-white;
  }
}

.sticky-bottom-right {
  float: right;
  position: sticky;
  bottom: 0;
}
