@import 'franklin-sites/src/styles/mixins';

.rule {
  display: grid;
  grid-template-areas:
    'conditions conditions'
    '. annotations';
  // 12-column grid: 1 column, 11 columns
  grid-template-columns: minmax(0, 1fr) minmax(0, 11fr);
  gap: 1em;

  :global(.decorated-list-item__content) {
    // Make it grow so that the floating exception button can go on the right
    flex-grow: 1;
  }
}

@include fs-breakpoints('large') {
  .rule {
    grid-template-areas: 'conditions annotations';
    // 12-column grid: 4 column, 8 columns
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
  }
}

.conditions {
  grid-area: conditions;
}

.annotations {
  grid-area: annotations;
}

.exceptions {
  float: right;
}
