@import 'franklin-sites/src/styles/mixins';
@import 'franklin-sites/src/styles/settings';
@import 'franklin-sites/src/styles/colours';

.rule {
  display: grid;
  grid-template-areas:
    'conditions conditions'
    '. annotations';
  // 12-column grid: 1 column (margin for annotations), 11 columns
  grid-template-columns: minmax(0, 1fr) minmax(0, 11fr);
  gap: $global-margin;

  :global(.decorated-list-item__content) {
    // Make it grow so that the floating exception button can go on the right
    flex-grow: 1;
    overflow-x: auto;
  }
}

@include fs-breakpoints('large') {
  .rule {
    grid-template-areas: 'conditions annotations';
    // 12-column grid: 4 columns, 8 columns
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);

    &.extra {
      grid-template-areas: '. conditions annotations';
      // 12-column grid: 1 column (empty), 4 columns, 7 columns
      grid-template-columns: minmax(0, 1fr) minmax(0, 4fr) minmax(0, 7fr);
    }
  }
}

.conditions {
  grid-area: conditions;

  margin-bottom: 0;

  & > li {
    border-color: $colour-sapphire-blue;
    border-style: solid;
    border-width: 0 0 1em 1ch;
  }

  & .statement {
    background-color: $colour-sapphire-blue;
  }
}

.annotations {
  grid-area: annotations;

  border-color: $colour-weldon-blue;
  border-style: solid;
  border-width: 0 0 1em 1ch;

  & .statement {
    background-color: $colour-weldon-blue;
  }
}

.exceptions {
  float: right;
}

.statement {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.negation {
  padding: 0.5ch;
  border-radius: 1ch;
}

.or {
  display: inline-block;
  border-radius: 50%;
  padding: 0.75ch 1ch;
  transform: translateX(calc(-50% - 0.5ch));
  margin: 1ch 0;
}

.if {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    right: -($global-margin);
    top: 0;
    width: 0;
    height: 0;
    border-top: 0.8em solid transparent;
    border-bottom: 0.8em solid transparent;
    border-left: $global-margin solid $colour-sapphire-blue;
  }
}
