@import 'franklin-sites/src/styles/colours';
@import 'franklin-sites/src/styles/settings';
@import 'franklin-sites/src/styles/mixins';

@import '../../../styles/settings';

.results-data {
  width: 100%;

  // only apply to the top-level table we don't want inner tables to be affected
  &:global(.data-table) > thead th {
    /* is !important still needed? */
    top: $action-buttons-height !important;
  }

  &:global(.data-table) table thead,
  &:global(.data-table) table th {
    background-color: $colour-independence;
    z-index: inherit;
  }

  &:global(.data-table) td > :global(.info-list) {
    margin: 0;
  }
}

.did-you-mean-wrapper {
  /* make sure the wrapper uses 100% of the remaining width */
  width: 90vw;
  /* so that DidYouMean component is visually centred _before_ any scrolling */
  display: grid;
  padding-block: 10 * $global-padding 5 * $global-padding;
  justify-items: center;
  align-items: center;

  @include fs-breakpoints('medium') {
    // a bit of room on the sides on medium screens
    width: calc(90vw - var(--sidebar-size));
  }
}
