@import '../../../styles/settings';

.is-stale {
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}

.results-view {
  .data-table th {
    top: $action-buttons-height !important;
  }

  .data-table td > .info-list {
    margin: 0;
  }
}
