@import '../../../styles/settings';

.is-stale {
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}

.results-view {
  width: 100%;

  .data-table th {
    top: calc(#{$header-height} + #{$action-buttons-height}) !important;
  }

  .data-table td > .info-list {
    margin: 0;
  }
}
