@import 'franklin-sites/src/styles/colours';
@import '../../../styles/settings';

.results-data {
  width: 100%;

  // only apply to the top-level table we don't want inner tables to be affected
  .data-table > thead th {
    top: calc(var(--top-header-margin) + #{$action-buttons-height}) !important;
  }

  // Note: shouldn't use protvista-datatable in results
  .data-table protvista-datatable thead .pd-group-trigger {
    // override when using it inside a results table
    display: none;
  }

  .data-table table thead,
  .data-table table th {
    background-color: $colour-independence;
    z-index: inherit;
  }

  .data-table td > .info-list {
    margin: 0;
  }

  .break-anywhere {
    // WARNING: doesn't work in Safari
    overflow-wrap: anywhere;
  }
}
