@import 'franklin-sites/src/styles/colours';
@import '../../../styles/settings';

.results-data {
  inline-size: 100%;
  overflow: auto;
  flex-shrink: 1;

  // Note: shouldn't use protvista-datatable in results
  .data-table protvista-datatable thead .pd-group-trigger {
    // override when using it inside a results table
    display: none;
  }

  .data-table table thead,
  .data-table table th {
    background-color: $colour-independence;
    z-index: inherit;
  }

  .data-table td > .info-list {
    margin: 0;
  }

  .break-anywhere {
    // WARNING: doesn't work in Safari
    overflow-wrap: anywhere;
  }
}
