@import '../../../styles/settings';

.results-data {
  width: 100%;

  .data-table th {
    top: calc(#{$header-height} + #{$action-buttons-height}) !important;
  }

  .data-table td > .info-list {
    margin: 0;
  }

  .break-anywhere {
    // WARNING: doesn't work in Safari
    overflow-wrap: anywhere;
  }
}
