.container {
  position: relative;
  height: 1em;
  min-width: 5em;
  background: var(--fr--color-sea-blue);
}

.xref {
  height: inherit;
  position: absolute;
  background: var(--fr--color-uniparc);
  width: 50%;
  left: 25%;
}
