@import 'franklin-sites/src/styles/settings';

.landing-page {
  margin-block: 2 * $global-margin;

  .image-container {
    display: grid;
    place-items: center;
  }

  form {
    // Hide the honeypot from the view
    [name='requiredForRobots'] {
      position: absolute;
      top: -100%;
      left: -100%;
    }
  }

  .category {
    margin-bottom: 0.4rem;
  }

  .submit-button {
    margin-top: 1rem;
  }
}
