.adv-search-toggle {
  clear: both;
  float: right;
  margin-top: 0.2rem;
  font-size: 0.9rem;
}

.search-container-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;

  .button {
    vertical-align: baseline;
  }
}
