@import 'franklin-sites/src/styles/colours';
@import 'franklin-sites/src/styles/settings';

.catalytic-activity {
  :global(.decorated-list-item__content) {
    width: 500px;
  }

  > .rhea-entry {
    margin-bottom: $global-margin;
  }

  .rhea-reaction-visualizer {
    &__toggle {
      padding-top: 0.5 * $global-padding;

      svg {
        position: relative;
        top: -0.6rem;
        margin-left: 0.5rem;
      }
    }
  }

  :global(.zoomLink) {
    cursor: pointer;
  }

  :global(.zoom-image-container) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  :global(.ec-number) {
    font-weight: bold;
    padding-right: 0.333rem;
  }

  :global(.rhea-reaction-source) {
    display: none;
  }

  :global(label) {
    display: inline;
  }
}
