.go-cam-viz-container {
  margin-bottom: 0.25rem;

  wc-gocam-viz {
    font-size: 1rem;

    &::part(activities-panel) {
      border-left: 1px solid black;
      padding-left: 1rem;
      width: 28%;
    }

    &::part(gocam-title) {
      visibility: hidden;
    }

    &::part(gocam-panel) {
      padding-right: 1rem;
    }

    &::part(legend-header) {
      padding-top: 0.5rem;
      border-bottom: 1px solid black;
    }

    &::part(process) {
      padding: 0;
      background-color: var(--fr--color-sky-white);
      margin-bottom: 1rem;
    }

    &::part(process-label) {
      display: none;
    }

    &::part(gene-product),
    &::part(function-label) {
      border-left: 0.125rem solid var(--fr--color-sapphire-blue);
      padding-left: 0.25rem;
      padding-right: 0;
      font-weight: bolder;
    }

    &::part(function-label) {
      margin-bottom: 0.333rem;
    }

    &::part(activity) {
      margin-bottom: 1rem;
      font-weight: bold;
    }

    --activity-background-active: var(--fr--color-platinum);
    --activity-color-active: var(--fr--color-sapphire-blue);
    --activity-color: var(--fr--color-sapphire-blue);
    --activity-padding: 0 0.25rem 0.25rem 0.25rem;
    --activity-border-width: 0;
    --graph-height: 33vh;
    --button-background: var(--fr--color-sea-blue);
    --button-background-hover: color-mix(
      in srgb,
      var(--fr--color-sea-blue),
      black 10%
    );

    --button-color: var(--fr--color-sky-white);
    --button-border-radius: 0;

    --process-label-border-width: 2px 2px 2px 2px;
    --process-label-padding: 5px;
    --process-label-border-color: var(--fr--color-sapphire-blue);
    --process-label-background: var(--fr--color-sky-white);
    --panel-header-padding: 0;
    --process-padding: 1rem;

    --node-align-items: flex: start;
    --node-border-color: var(--fr--color-gainsborough);
    --node-border-width: 1px 0 0 0;
    --node-padding: 0;
  }
}
