.go-cam-viz-container {
  margin-bottom: 0.25rem;

  wc-gocam-viz {
    font-size: 1rem;

    &::part(activities-panel) {
      border-left: 1px solid black;
      padding-left: 1.5rem;
      width: 28%;
    }

    &::part(gocam-title) {
      visibility: hidden;
    }

    &::part(gocam-panel) {
      padding-right: 1.5rem;
    }

    &::part(legend-header) {
      padding-top: 0.5rem;
      border-bottom: 1px solid black;
    }

    &::part(process) {
      padding: 1rem;
      background-color: var(--fr--color-platinum);
      margin-bottom: 1rem;
    }

    &::part(process-label) {
      display: none;
    }

    &::part(gene-product),
    &::part(function-label) {
      border-left: 0.125rem solid var(--fr--color-sapphire-blue);
      padding-left: 0.25rem;
      margin-left: -0.5rem;
    }

    &::part(function-label) {
      margin-bottom: 0.333rem;
    }

    --activity-background-active: var(--fr--color-platinum);
    // --activity-color-active: var(--fr--color-sky-white);
    // --activity-padding: 0.75rem 0.5rem;
    --graph-height: 33vh;
    --button-background: var(--fr--color-sea-blue);
    --button-background-hover: color-mix(
      in srgb,
      var(--fr--color-sea-blue),
      black 3%
    );
    --button-color: var(--fr--color-sky-white);
    --button-border-radius: 0;

    --process-label-border-width: 2px 2px 2px 2px;
    --process-label-padding: 5px;
    --process-label-border-color: var(--fr--color-sapphire-blue);
    --process-label-background: var(--fr--color-sky-white);
    --panel-header-padding: 0 0 1rem 0;
  }
}
