@import 'franklin-sites/src/styles/settings';
@import 'franklin-sites/src/styles/colours';

.inline-publication {
  margin-bottom: $global-margin 0;
  padding: $global-padding 0;
  border-bottom: 1px solid $colour-pastel-blue;
  .publication__columns {
    display: flex;
  }
}

.fallback-publication {
  padding-bottom: $global-padding;
}
