@import 'franklin-sites/src/styles/colours';

// TODO: remove
protvista-zoom-tool {
  --button-background: none;
  --button-padding-h: 0.5rem;
  --button-margin-h: 0;
  --button-font-size: 0.9rem;
  --button-text-color: #{$colour-sea-blue};
  --button-border-radius: 0;
}
