@import '../../../../../node_modules/franklin-sites/src/styles/colours';

protvista-zoom-tool {
  --button-background: none;
  --button-padding-h: 0.5rem;
  --button-margin-h: 0;
  --button-font-size: 0.9rem;
  --button-font-weight: bold;
  --button-text-color: #{$colour-sea-blue};
  // --button-background-focus: #{$colour-vivid-cerulean};
  --button-border-radius: 0;

  .nightingale-button-content {
    padding-left: 0.4rem;
    position: relative;
    font-weight: bold;
    svg {
      top: 0;
      left: 0;
      position: absolute;
      fill: #{$colour-sea-blue};
      opacity: 0.8;
    }
    svg:hover {
      opacity: 1;
    }
  }
}
