/* By default don't display the messages */
.container :global(.message) {
  display: none;
}

/* If no support for has, we won't show the messages, it's fine */
@supports selector(:has(*)) {
  .container:has(nightingale-structure) {
    /* Info message about feature viewer */
    & :global(.message--info) {
      display: grid;
      margin-block-start: 0.5em;
    }
  }

  /* Target the message only if there's a protvista-structure with the
  "structureid" attribute set to something that looks like an AFDB ID */
  .container:has(nightingale-structure[structure-id^='AF']) {
    & :global(.message--warning) {
      /* Display and revert to the default style of the message */
      display: grid;
      margin-block-start: 0.5em;

      view-transition-name: --af-modal;

      &:global(.af-modal) {
        position: absolute;
        inline-size: 80%;
        margin-inline-start: 10%;
        transform: translateY(100px);
        z-index: 9;
      }
    }

    &:has(:global(.af-modal)) :global(.protvista-uniprot-structure__structure) {
      filter: blur(10px);
    }
  }
}
