@import 'franklin-sites/src/styles/colours';

.inpicture {
  cursor: default;

  &:before {
    content: '🔎';
    margin-right: 0.5em;
  }

  &.lookedAt,
  &:hover {
    background-color: $colour-sea-blue;
    color: white;
    article {
      color: black;
    }
    & > a {
      color: white;
    }
  }
}
