.sub-cell-viz__in-view-pin {
  display: none;
}

.inpicture {
  cursor: default;

  & .sub-cell-viz__in-view-pin {
    display: initial;
    margin-inline: 0.1ch 0.5ch;
  }

  &.lookedAt,
  &:hover {
    background-color: var(--fr--color-sea-blue);
    color: white;

    & article {
      color: black;
    }

    & a.sub-cell-viz__location-id {
      color: white;
    }
  }

  &ai.lookedAt,
  &ai:hover {
    background-color: color-mix(
      in srgb,
      var(--fr--color-purple-mid) 20%,
      white
    );
  }
}
