@import 'franklin-sites/src/styles/colours';

.go-annotation-link {
  hr {
    border: none;
    height: 0.0625rem;
    background-color: $colour-platinum;
    margin-bottom: 0.25rem;
  }
  margin-bottom: 0.75rem;
}
