.change {
  max-inline-size: 10ch;
  word-wrap: break-word;
}

.bold {
  font-weight: bold;
}

.no-data {
  /* copied from .protvista-no-results */
  background-color: #e4e8eb;
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-size: 0.8rem;
}
