.container {
  display: grid;
  width: 100%;
  height: 100%;
  padding: 2em;
  place-items: center;

  & > * {
    grid-area: 1 / 1;
  }

  & > *:first-child {
    width: 50vmin;
    place-self: start center;
  }

  & > *:nth-child(2) {
    opacity: 0.9;
  }
}
