@import 'franklin-sites/src/styles/colours';

.help-card :global(.match-highlight) {
  position: relative;
  z-index: 0;

  &::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    right: -0.15ch;
    bottom: -0.15ch;
    left: -0.15ch;
    background: $colour-help-green;
    opacity: 0.2;
  }
}
