@import 'franklin-sites/src/styles/settings';
@import 'franklin-sites/src/styles/colours';
@import '../../shared/styles/settings';

// Overrides a lot of stuff...
:global(.sliding-panel) .basket-content {
  & :global(.data-table) th {
    top: 0 !important;
  }

  & :global(.tabs__header) {
    margin-bottom: 0;
  }

  & :global(.card) {
    // remove the fake margin on the right of the cards
    width: initial;

    margin-left: $global-margin;
    margin-right: $global-margin;
  }

  & :global(.button-group) {
    padding-inline-start: 0.5 * $global-padding;
  }

  & :global(.results-buttons) {
    position: initial;
  }

  & :global(.data-table) > thead th {
    /* is !important still needed? */
    top: $action-buttons-height !important;
  }
}
