:global(.sliding-panel) {
  .basket-status {
    display: none;
  }
}

.basket-status {
  display: contents;

  &:hover,
  &:focus {
    svg {
      background-color: var(--fr--color-sea-blue);
    }
  }

  svg {
    overflow: visible;
    width: 1.5em;
    height: 1.5em;
    margin: 0 0.5ch;
    padding: 0.4ch;
    border-radius: 50%;
    background-color: var(--fr--color-sapphire-blue);
    color: white;
    animation: appear 1 0.5s both ease-out;

    // in entry pages
    :global(.big) & {
      width: 0.7em;
      height: 0.7em;
      padding: 0.2ch;
    }
  }
}

@keyframes appear {
  from {
    clip-path: circle(0);
    opacity: 0;
  }
  to {
    clip-path: circle(100%);
    opacity: 1;
  }
}
