@import 'franklin-sites/src/styles/common/z-index';

.gdpr-section {
  width: 100%;
  font-size: 0.85rem;
  padding: 1rem 2rem;
  position: fixed;
  bottom: 0;
  background-color: black;
  color: #fff;
  z-index: 9999;

  a {
    color: #fff;
  }

  p {
    margin-block-end: 1em;
  }

  button {
    float: right;
  }
}
