@import '../../../../../../node_modules/franklin-sites/src/styles/colours';

.is-stale {
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}

.blast-parameters-facet {
  font-weight: bold;

  &__title {
    padding-left: 1ch;
  }

  .hsp_identity {
    --main-histogram-color: #{map-get($franklin-colours, colourPrimary500)};
    color: #{map-get($franklin-colours, colourPrimary500)};
  }

  .hsp_score {
    --main-histogram-color: #{map-get($franklin-colours, colourDataVis1)};
    color: #{map-get($franklin-colours, colourDataVis1)};
  }

  .hsp_expect {
    --main-histogram-color: #{map-get($franklin-colours, colourDataVis2)};
    color: #{map-get($franklin-colours, colourDataVis2)};
  }
}
