@import 'franklin-sites/src/styles/colours';

.blast-parameters-facet {
  font-weight: bold;

  &__title {
    padding-left: 1ch;
  }

  .hsp_identity {
    --main-histogram-color: #{$colour-sapphire-blue};
    color: #{$colour-sapphire-blue};
  }

  .hsp_score {
    --main-histogram-color: #{$colour-coyote-brown};
    color: #{$colour-coyote-brown};
  }

  .hsp_expect {
    --main-histogram-color: #{$colour-outer-space};
    color: #{$colour-outer-space};
  }
}
