@import 'franklin-sites/src/styles/settings';
@import 'franklin-sites/src/styles/colours';

.landing-page {
  &__title {
    margin-top: 2 * $global-margin;
  }

  &__content {
    margin-top: $global-margin;

    .search-link {
      display: block;
      margin-top: 1rem;
    }

    .statistics {
      &__content {
        display: flex;
        justify-content: space-evenly;
      }

      .entries-count {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;

        &__content {
          display: flex;
          margin-top: 1rem;
        }

        .reviewed-icon {
          color: $colour-reviewed;
          margin-right: 1rem;
        }

        .unreviewed-icon {
          color: $colour-unreviewed;
          margin-right: 1rem;
        }
      }

      .statistics-link {
        white-space: nowrap;
      }
    }

    .download {
      span {
        display: block;
        margin-top: 0.5rem;
      }

      a {
        margin-right: 0.5rem;
      }

      &__ftp-link {
        display: block;
        margin-top: 2rem;
      }
    }

    .tutorial {
      margin-bottom: 3rem;

      &__title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
