@import 'franklin-sites/src/styles/settings';

.landing-page {
  &__title {
    margin-top: 2 * $global-margin;
  }
  .introduction-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2 * $global-margin;
    .video {
      margin-bottom: $global-margin;
      max-width: 30rem;
      overflow-y: auto;
    }
    .search-link {
      display: block;
      margin-top: 1rem;
    }
  }
}
