.piechart {
  .slice {
    stroke-width: 2px;
  }
  .label {
    pointer-events: 'auto';
    cursor: pointer;
    fill: #014371;
    font-weight: bold;
  }

  .polyline {
    fill: none;
    opacity: 0.3;
    stroke: black;
    stroke-width: 2px;
  }
}
