// Used to replace <p> when using EvidenceTag
.text-block {
  margin-bottom: 1rem;
  font-size: inherit;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  display: block;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

// only show the first loader component when 2 or more are direct siblings
// useful for lists of potentially loading components
.loader-container + .loader-container {
  display: none;
}
