// Used to replace <p> when using EvidenceTag
.text-block {
  margin-bottom: 1rem;
  font-size: inherit;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  display: block;
  margin-block-end: 1em;
  margin-inline: 0;
}

// only show the first loader component when 2 or more are direct siblings
// useful for lists of potentially loading components
.loader-container + .loader-container {
  display: none;
}

.card__header {
  .tiny,
  .micro {
    // Add a bit more of padding to the top of smaller headers only
    padding-top: 0.5em;
  }
}

protvista-datatable:not(:defined) > table {
  width: 100%;
  overflow-x: auto;
  table-layout: fixed;
  border-collapse: collapse;

  & td,
  & th {
    border: 1px solid grey;
  }
}

// TODO: remove as part of TRM-26871
.protvista-uniprot-structure__structure protvista-structure {
  z-index: 10 !important;
}

// Debug utility to show heading levels
// @for $i from 1 through 6 {
//   h#{$i} {
//     border: #{7 - $i}px solid green;
//     position: relative;

//     &:after {
//       content: 'h#{$i}';
//       background: rgba(0, 0, 0, 0.5);
//       color: lightgreen;
//       position: absolute;
//       top: 0;
//       right: 0;
//     }
//   }
// }
