// https://www.paulirish.com/2012/box-sizing-border-box-ftw/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

// Used to replace <p> when using EvidenceTag
.text-block {
  margin-bottom: 1rem;
  font-size: inherit;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  display: block;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.no-wrap {
  white-space: nowrap;
}

// only show the first loader component when 2 or more are direct siblings
// useful for lists of potentially loading components
.loader-container + .loader-container {
  display: none;
}
