@import 'franklin-sites/src/styles/colours';
@import 'franklin-sites/src/styles/settings';

.home-page-section {
  margin-bottom: $global-margin * 2;
}

.proteins-section {
  display: flex;
  line-height: 1;

  & > * {
    flex: 1;
  }

  svg,
  a {
    display: inline-block;
    color: currentColor;
  }

  svg :global(.swissprot_svg__star) {
    fill: $colour-reviewed;
  }

  &__status {
    font-weight: bold;
  }
}

.supporting-data-section {
  &__header {
    margin: 0;
    line-height: 0.9;
  }
}
