@import '../../../../node_modules/franklin-sites/src/styles/colours';

.alignment-grid {
  margin-bottom: 1em;
  align-items: center;
  height: auto;
  max-height: 50%;

  &__placeholder {
    height: 80px;
  }

  &__row {
    display: grid;
    grid-template-columns: 17vw auto 4vw;
    grid-template-areas: 'label track .';
    align-items: center;

    &--msa-track {
      grid-template-areas: 'label track right-coord';
    }

    .track-label {
      grid-area: label;
      text-align: right;
      padding-right: 0.5rem;
      font-weight: 800;
      &:first-letter {
        text-transform: uppercase;
      }

      &--align-labels {
        align-self: flex-end;
        margin: 0;
        list-style: none;

        .align-label {
          font-size: 0.75rem;
          border-top: 1px solid $colour-gainsborough;
          display: flex;
          align-items: center;

          &:last-child {
            border-bottom: 1px solid $colour-gainsborough;
          }

          button {
            margin: 0;
            font-size: 0.75rem;
          }
        }
      }
    }

    .track {
      grid-area: track;
      position: relative;
    }

    .right-coord {
      padding-left: 0.1rem;
      grid-area: right-coord;
    }
  }
}
