.msa-view {
  margin-bottom: 1em;
  align-items: center;
  height: auto;
  max-height: 50%;

  &__row {
    display: grid;
    grid-template-columns: 10vw 5vw auto 5vw;
    grid-template-areas: 'label . track .';

    &--msa-track {
      grid-template-areas: 'label left-coord track right-coord';
    }

    // Need this for the wrapped view to show only the protvista ruler:
    // protvista-navigation {
    //   .zoom-polygon,
    //   .brush,
    //   .start-label,
    //   .end-label {
    //     display: none;
    //   }
    //   height: 1.25rem;
    //   padding-bottom: 0.25rem;
    // }

    .track-label {
      grid-area: label;
      text-align: right;
      padding-right: 0.5rem;
      font-weight: 800;
      &:first-letter {
        text-transform: uppercase;
      }
    }

    .track {
      grid-area: track;
      position: relative;
    }

    .left-coord {
      text-align: right;
      padding-right: 0.1rem;
      grid-area: left-coord;
    }

    .right-coord {
      padding-left: 0.1rem;
      grid-area: right-coord;
    }
  }
}
