@import '../../../../../node_modules/franklin-sites/src/styles/colours';

.member-icons {
  &--uniprotkb {
    &-reviewed {
      color: map-get($franklin-colours, colourReviewed);
    }

    &-unreviewed {
      color: map-get($franklin-colours, colourUnreviewed);
    }
  }

  &--uniparc {
    color: map-get($franklin-colours, colourUniParc);
  }

  & svg {
    width: 1em;
    height: 1em;
  }
}
