@import '../../../../../../node_modules/franklin-sites/src/styles/colours';

.align-result-phylotree {
  & svg {
    width: 100%;
    overflow: visible;
  }

  & .link {
    fill: none;
    stroke: $colour-sapphire-blue;
    stroke-width: 2px;

    &.nonsense {
      stroke: $colour-failure;
    }

    &.hovered {
      stroke: black;
      stroke-width: 2px;
    }
  }
}
