@import '../../../../../../node_modules/franklin-sites/src/styles/colours';

.phylotree {
  width: 100%;
  overflow: visible;

  & foreignObject {
    overflow: visible;
  }

  .link {
    fill: none;
    stroke: map-get($franklin-colours, colourPrimary500);
    stroke-width: 2px;

    &.nonsense {
      stroke: map-get($franklin-colours, colourFailure);
    }

    &.hovered {
      stroke: map-get($franklin-colours, colourHover);
      stroke-width: 4px;
    }
  }

  .end-link {
    fill: none;
    stroke: map-get($franklin-colours, colourPrimary100);
    stroke-width: 1px;
  }
}
